* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(0, 24, 90));
  color: white;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      transparent,
      #07ffe1,
      #1bbaed,
      #07ffe1,
      transparent
    )
    1;
}

header img {
  height: 75px;
  width: 75px;
  background-color: rgb(0, 52, 110);
  border-radius: 100%;
}

#nome-empresa {
  transition: 0.3s ease;
}

ul {
  display: flex;
  gap: 15px;
}

li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

main {
  margin-top: 250px;
  font-size: 15px;
  padding-left: 80px;
  padding-right: 80px;
}

main .container-titulo {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

main .palavra-gradiente {
  color: transparent;
  background-image: linear-gradient(341deg, #07ffe1 23%, #524add 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

main p {
  color: white;
  width: 50%;
}

main .container {
  margin-top: 90px;
  display: flex;
  justify-content: space-evenly;

}

aside {
  width: 40%;
  border-radius: 25px;
}

aside h3 {
  margin-top: 35px;
}

aside ul {
  flex-direction: column;
}

form {
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  gap: 15px;
}

form .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  margin-bottom: 8px;
}


form .linha-inteira {
  grid-column: 1 / -1;
}

form input, #mensagem {
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  border-style: none;
  width: 100%;
}

input:focus, textarea {
  outline: none;
}


form #mensagem {
  min-height: 140px;
  overflow: auto;
  resize: none;
}

form .descricao-mensagem {
  color: #00c9e4;
  font-size: 13px;
  width: 100%;
}

form .botao-enviar {
  transition: 0.5s ease;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  margin-top: 15px;
  background-color: #002d8d;
}

form .botao-enviar:hover {
  cursor: pointer;
  transform: scale(1.005);
}

form .botao-enviar:disabled {
  background-color: rgb(126, 126, 126);
  cursor: auto;
}

footer {
  background-color: rgba(0, 0, 0, 0.377);
  margin-top: 150px;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  height: 180px;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      transparent,
      #07ffe1,
      #1bbaed,
      #07ffe1,
      transparent
    )
    1;
}

footer ul {
  margin-bottom: 15px; 
  gap: 8px;
}

footer a {
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
}

footer img {
  height: 20px;
  width: 20px;
}

footer a:hover {
  background-color: rgb(0, 183, 255);
}
